*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: blue;


    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
}

.container{
    width: 100%;
    max-width: 650%;
    background-color: antiquewhite;
    text-align: center;
    align-items: center;
    border-radius: 25px;
}

h1{
    color: blueviolet;
    font-size: 30px;
}

label{
    display: block;
    margin: 20px;
    font-weight: bolder;
    color: rgb(17, 17, 16);
    margin-bottom: 10px;

}